html{
    background-color: rgba(101, 208, 240, 0.39);
    font-size: 20px;
    width: 100%;
    height: 100%;
    margin: 0 0;
}
body{
  width: 100%;
  height: 100%;
  margin: 0 0;
}
.head{
  width: 100%;
  height: 41%;
  overflow: hidden;
}
.headif{
  width: 100%;
  height: 100%;
}

.left{
  width: 15%;
  height: 32%;
  position: absolute;
  top: 45%;
  left: 1%;
  overflow: hidden;
}
.leftif{
  width: 100%;
  height: 100%;
}

/* 侧边栏右 */
.right{
  width: 15%;
  height: 50%;
  position: absolute;
  top: 45%;
  right: 1%;
  overflow: hidden;
}
.rightif{
  width: 100%;
  height: 100%;
}


   /* 中间部分 */
   .middle{
    border:2px dashed #e0c33f;
    width: auto;
    height: auto;
    position: absolute;
    top: 45%;
    left: 17%;
    right: 17%;
    padding-left: 0.5%;
    padding-right: 0.5%;
   }

   h4,header{
    text-align: center;
   }

   .yuedu{
    display: block;
    margin: 0 auto;
    font-size: 15px;
    padding: 1% 2%;
    border: 1px solid #f3cece;
    background-color: gray;
    color: #fff;
    cursor: pointer;
   }

   .zuozhe{
    font-size: small;
    color: #464646;
    font-style:italic;
    text-decoration: none;
    margin-left: 20px;
   }

   img {
    display: block;
    overflow: hidden;
    cursor: pointer;
  }

  .beizhu{
    width: 90%;
    background-color: aquamarine;
  }

  .lizi{
    width: 90%;
    background-color: white;
  }

  .zhuyi{
    width: 90%;
    background-color: darkslategray;
  }
code{
    background-color: azure;
    padding: .125rem .25rem;
}
pre{
  border: 1px solid transparent;
  margin: 1rem 0 2rem;
  padding: 1rem 2.5rem 1rem 1rem;
}
