html{
    background-color: gray;
    font-size: 20px;
}

div.header{
    background: url("../images/background.jpg") no-repeat;
    width:100%;
    overflow: hidden;
    background-size:cover;
    background-attachment:fixed;
}

h1.header{
    text-align: center;
    font-size: 150px;
    font-style: inherit;
}

/* 侧边栏左上 */
/* .left-top{
  margin-top: 2%;
  float: left;
  width: 15%;
  height: auto;
  border:1px dashed #f3cece;
  text-align: center;
  padding-bottom: 20px;
} */

#WaitLst-left{
  position: absolute;
  margin-top: 2%;
  left: 1%;
  width: 15%;
  height: auto;
  border:1px dashed #f3cece;
  text-align: center;
  padding-bottom: 20px;
}
/* 侧边栏右 */
#WaitLst-right{
  position: absolute;
  margin-top: 2%;
  right: 1%;
  width: 15%;
  height: 50%;
  border:1px dashed #f3cece;
  text-align: center;
  padding-bottom: 20px;
  overflow-y: scroll;
}

ul.fenlei{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li{
  margin-top: 20px;
}

a.fenlei{
    color: #000;
    text-decoration: none;
}

/* .right{
    margin-top: 2%;
    border:1px dashed #f3cece;
    float: right;
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* 设置搜索框
.search {
    width: 80%;
    position: relative;
    display: flex;
    margin-top: 8%;
    margin-bottom: 3%;
    margin-left: 10%;
  } */
   
  .searchTerm {
    width: 100%;
    border: 1px solid black;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
   
  .searchTerm:focus{
    color: black;
  }
   
  .searchButton {
    width: 42px;
    height: 32px;
    border: 1px solid black;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
   /* 中间部分 */
   .middle{
    border:1px dashed #f3cece;
    width: auto;
    height: auto;
    margin-top: 2%;
    margin-left: 18%;
    margin-right: 18%;
   }

   h4,header{
    text-align: center;
   }

   .yuedu{
    display: block;
    margin: 0 auto;
    font-size: 15px;
    padding: 1% 2%;
    border: 1px solid #f3cece;
    background-color: gray;
    color: #fff;
    cursor: pointer;
   }

   .zuozhe{
    font-size: small;
    color: #464646;
    font-style:italic;
    text-decoration: none;
    margin-left: 20px;
   }

   img {
    display: block;
    overflow: hidden;
  }

  .beizhu{
    width: 90%;
    background-color: aquamarine;
  }

  .lizi{
    width: 90%;
    background-color: burlywood;
  }

  .zhuyi{
    width: 90%;
    background-color: darkslategray;
  }

  li{
    cursor: pointer;
  }
